@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@keyframes fadeInUp {
    0% {
        opacity: 40%;
        transform: translate3d(0, 15%, 0);
    }

    50% {
        opacity: 60%;
        transform: translateZ(10);
    }

    70% {
        opacity: 80%;
        transform: translateZ(30);
    }

    100% {
        opacity: 100%;
        transform: translateZ(50);
    }
}

@keyframes fadeInUp_Btn {
    0% {
        opacity: 40%;
        transform: translate3d(0, 100%, 0);
    }

    50% {
        opacity: 60%;
        transform: translateZ(10);
    }

    70% {
        opacity: 80%;
        transform: translateZ(30);
    }

    100% {
        opacity: 100%;
        transform: translateZ(50);
    }
}

$Pretendard-Regular: 'Pretendard-Regular';
$Pretendard-Medium: 'Pretendard-Medium';
$Pretendard-Bold: 'Pretendard-Bold';
$fontOfTitle: 'GmarketSansBold';

.submitOfToss {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-size: 17px;
    background-color: #3182F7;
    letter-spacing: -0.6px;
    animation: fadeInUp_Btn 0.8s;
}

.submitOfToss:hover {
    background-color: #3182F7;
}

header {
    width: auto;

    .containerOfContents {
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        .contentsOfButton {
            display: flex;
            align-items: center;

            span {
                font-family: $fontOfTitle;
                font-size: 45px;
                color: #fff;
                letter-spacing: -2px;
            }
        
            img {
                position: absolute;
                width: 220px;
                margin-top: -20px;
                margin-left: 710px;
            }

            .textOfEffect {
                font-size: 50px;
                margin-bottom: 3px;
            }
        }

        .buttonOfToss {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            background-color: #3182F7;
            height: 200px;
            border-radius: 20px;
        }
    }
}

article {
    width: auto;
    margin-top: 50px;

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: center;
        align-items: center;

        span {
            font-family: $Pretendard-Bold;
            letter-spacing: -0.6px;
            font-size: 22px;
            animation: fadeInUp_Btn 1s;
            margin-top: 30px;
        }
    }

    form {
        font-family: $Pretendard-Medium;
        text-align: center;
        letter-spacing: -0.6px;
        animation: fadeInUp 1.5s;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 14px;
        }

        button {
            width: 150px;
            height: 150px;
            border-radius: 200px;
            background-color: white;
            border: none;
            background-color: #3182F7;
            color: white;
            font-family: $Pretendard-Bold;
            font-size: 18px;
            margin-bottom: 50px;

            transition: 0.5s all;

            .imgOfButton {
                width: 70px;
            }
        }
    }

    .boxOfFirst, .boxOfTwice, .boxOfThird, .boxOfFourth, .boxOfFifth {
        text-align: left;
        display: flex;
        flex-direction: column;
        row-gap: 12.5px;
        margin-bottom: 42.5px;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
        border: solid 1px;
        border-color: #707070;
        border-radius: 20px;
        animation: fadeInUp 0.5s;

        p {
            font-size: 14px;
            font-family: $Pretendard-Medium;
        }

        span {
            font-size: 14px;
        }

        .colorText {
            color: #3182F7;
        }
    }

    .boxOfFirst {
        margin-top: -25px;
    }

    .boxOfTwice {
        margin-top: -40px;
    }

    // 회사 상세 정보의 visibility 값을 hidden 으로 설정
    .detailOfCompany {
        display: none;
    }

    .containerOfInput {
        display: flex;
        justify-content: center;
        margin-top: 130px;
    }

    input {
        margin-top: -15px;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        width: 470px;
        border-color: #707070;
        border-width: 1.5px;
        font-size: 14px;
        padding-bottom: 10px;
        transition: 0.5s all ease-in-out;
        letter-spacing: -0.6px;
    }

    input:focus {
        outline: none;
        border-color: #3182F7;
    }
}

button {
    width: 300px value !important;
}

.profileOfUser {
    position: absolute;
    margin-top: -270px;

    .contentOfProfile {
        display: flex;
    }

    button {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        font-size: 3px;
        color: white;
        background-color: #3182F7;
        border-radius: 50px;
        white-space: nowrap;
        font-family: $Pretendard-Bold;
        cursor: pointer;
        transition: 0.4s all;
    }

    button:hover {
        width: 100px;
        height: 30px;
        font-size: 13px;
    }
}

.dataOfCompany {
    display: none;
}

.containerOfNotice {
    display: flex;
    position: absolute;
    font-size: 14px;
    font-family: $Pretendard-Bold;
    color: #958E8E;

    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resultOfFirst {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 3px;
    width: 100%;
    padding:0px;
    margin-top: 0px;

    li {
        list-style: none;
        margin-bottom: 9px;
        font-family: $Pretendard-Regular;
        color: #707070;
        font-size: 14px;
    }
}

.svg {
    display: none;
    align-items: center;
    justify-self: center;
    width: 150px;
    height: 150px;
    animation: fadeInUp 1s;
}