@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

$Pretendard-Regular: 'Pretendard-Regular';
$Pretendard-Medium: 'Pretendard-Medium';
$Pretendard-Bold: 'Pretendard-Bold';
$fontOfTitle: 'GmarketSansBold';


header {
    width: auto;

    .containerOfContents {
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        .contentsOfButton {
            display: flex;
            align-items: center;

            span {
                font-family: $fontOfTitle;
                font-size: 45px;
                color: #fff;
                letter-spacing: -2px;
            }
        
            img {
                position: absolute;
                width: 220px;
                margin-top: -20px;
                margin-left: 710px;
            }

            .textOfEffect {
                font-size: 50px;
                margin-bottom: 3px;
            }
        }

        .buttonOfToss {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            background-color: #3182F7;
            height: 200px;
            border-radius: 20px;
        }
    }
}

article {
    width: auto;
    margin-top: 50px;

    .description {
        display: flex;
        justify-content: center;

        span {
            font-family: $Pretendard-Bold;
            letter-spacing: -0.5px;
            font-size: 22px;
        }
    }

    form {
        color: #707070;
        font-family: $Pretendard-Bold;
        text-align: center;

        p {
            font-size: 17px;
        }

        button {
            width: 150px;
            height: 150px;
            border-radius: 200px;
            background-color: white;
            border: none;
            background-color: #3182F7;
            color: white;
            font-family: $Pretendard-Bold;
            font-size: 18px;
            margin-bottom: 50px;

            filter: grayscale(100%);
            transition: 0.5s all;

            .imgOfButton {
                width: 70px;
            }
        }

    }

    .boxOfFirst, .boxOfTwice, .boxOfThird, .boxOfFourth, .boxOfFifth {
        text-align: left;
        display: flex;
        flex-direction: column;
        row-gap: 12.5px;
        margin-bottom: 42.5px;

        p {
            color: black;
        }

        span {
            font-size: 14px;
        }

        .colorText {
            color: #3182F7;
        }
    }

    .containerOfInput {
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }

    input {
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        width: 800px;
        border-color: #707070;
        border-width: 2px;
        font-size: 14px;
        padding-bottom: 10px;
    }

    input:focus {
        outline: none;
    }
}

button {
    width: 300px value !important;
}

.profileOfUser {
    position: absolute;
    margin-top: -270px;

    .contentOfProfile {
        display: flex;
    }

    button {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        font-size: 3px;
        color: white;
        background-color: #3182F7;
        border-radius: 50px;
        white-space: nowrap;
        font-family: $Pretendard-Bold;
        cursor: pointer;
        transition: 0.4s all;
    }

    button:hover {
        width: 100px;
        height: 30px;
        font-size: 13px;
    }
}

.dataOfCompany {
    display: none;
}

.containerOfNotice {
    display: flex;
    position: absolute;
    font-size: 14px;
    font-family: $Pretendard-Bold;
    color: #958E8E;

    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resultOfFirst {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    width: 100%;
    padding:0px;
    margin: 0px;
    
    li {
        list-style: none;
        margin-bottom: 6px;
        font-family: $Pretendard-Medium;
        font-size: 14px;
    }
}