$button-width:100px;
$button-height:50px;
$button-color:lighten(#3182F7,5%);
$button-font-size: 1.9em;

$frill-vert-space: 20px; //vertical spacing between frills
$frill-horizontal-offset: 14px; //initial offset
$frill-distance: 10px; //distance moved by frills
$frill-stagger: 10px; //distance between center and edge frills

$frill-rotation: 24deg;
$frill-height: 6px;
$frill-width: 15px;

$speed: 0.4s;
$timing-function:ease-out;

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background:$button-color;
    border-radius: 10px;
    color:white;
    cursor:pointer; 
    font-family:Roboto;
    font-size:$button-font-size;
    height:$button-height;
    letter-spacing:.2px;
    line-height:$button-height;
    text-align:center;
    text-transform:uppercase;
    user-select:none;
    width:$button-width;

  img {
        width: 20px;
        height: 20px;
        animation: fadeIn 1s;
  }
}

.fancy-button {
  margin:auto;
  position:absolute;
  margin-left: 330px;
}
.frills, .frills:after, .frills:before {
  position:absolute;
  background:$button-color;
  border-radius:($frill-height/2);
  height:$frill-height;
}
.frills:after, .frills:before,  {
  content:"";
  display:block;
}
.frills:before {
  bottom:$frill-vert-space;
}
.frills:after {
  top:$frill-vert-space;
}
.left-frills {
  right:$button-width + $frill-horizontal-offset;
  top:($button-height/2)-($frill-height/2);
  .active & {
     animation: move-left $speed $timing-function, width-to-zero $speed $timing-function;
  }
  
  &:before, &:after {
    left:$frill-stagger;
      
  }
  &:before {
    .active & {
      animation: width-to-zero $speed $timing-function, move-up $speed $timing-function; 
    }
  }
  &:after {
   .active & {
      animation: width-to-zero $speed $timing-function, move-down $speed $timing-function; 
   }
  }
  
}
.right-frills {
  left:$button-width + $frill-horizontal-offset;
  top:($button-height/2)-($frill-height/2);
  .active & {
    animation: move-right $speed $timing-function, width-to-zero $speed $timing-function;
  }
  &:before, &:after {
    right:$frill-stagger;
  }
  &:before {
   .active & {
      animation: width-to-zero $speed $timing-function, move-up $speed $timing-function; 
   }
  }
  &:after {
    .active & {
      animation: width-to-zero $speed $timing-function, move-down $speed $timing-function; 
    }
  }
}

.left-frills:before, .right-frills:after { 
  transform:rotate($frill-rotation)
    
}

.left-frills:after, .right-frills:before {
  transform:rotate(- $frill-rotation);
}

@keyframes move-left {
 0% {
   transform:none;
 }
  65% {
    transform: translateX(-1*$frill-distance);
  }
 100% {
   transform: translateX(-1*$frill-distance);
 }
}
@keyframes move-right {
 0% {
   transform:none;
 }
 65% {
   transform: translateX($frill-distance);
 }
  100% {
    transform: translateX($frill-distance);
  }
}
@keyframes width-to-zero {
 0% {
   width:$frill-width;
 }
 100% {
   width:$frill-height;
 }
}
@keyframes move-up {
  0% {
    
  }
  100% {
    bottom:$frill-vert-space*1.55;
  }
}
@keyframes move-down {
  0% {
    
  }
  100% {
    top:$frill-vert-space*1.55;
  }
}